.shaking-effect:hover {
    animation: shake 1s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(5deg); }
    40% { transform: rotate(-5deg); }
    60% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.shake-icons:hover {
    animation: shakeIcons 1s;
}

@keyframes shakeIcons {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(15deg); }
    40% { transform: rotate(-15deg); }
    60% { transform: rotate(15deg); }
    80% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}